img {
  width: 14%;
  height: 14%;
  margin-right: 25px;
}

.name {
  font-size: 28px;
  border-bottom-style: ridge;
  border-bottom-width: 7px;
}

.header {
  font-size: 20px;
}

body {
  background-image: url("https://gdurl.com/ic3z");
  margin: 50px 225px 50px 225px;
}

h4 {
  margin-top: 50px;
  border-bottom-style: double;
  padding-bottom: 5px;
}

.date {
  font-style: italic;
  font-weight: bold;
  float: right;
  color: #483D8B;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  background: #483D8B;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}
