.header {
  font-size: 20px;
}

#contactinfo {
  border-bottom-style: double;
}

body {
  background-color: #F0F8FF;
  margin: 50px 200px 50px 200px
}

.date {
  font-style: italic;
  text-align: right;
  color: #483D8B;
  border-bottom-style: double;
  position: relative;
  bottom: 25px:

}
