img {
  width: 14%;
  height: 14%;
  margin-right: 25px;
}

.name {
  font-size: 28px;
  border-bottom-style: ridge;
  border-bottom-width: 5px;
}

.header {
  font-size: 20px;
}

body {
  background-image: url("https://gdurl.com/ic3z");
  margin: 50px 225px 50px 225px;
}

h4 {
  margin-top: 50px;
  border-bottom-style: double;
}

.date {
  font-style: italic;
  font-weight: bold;
  float: right;
  color: #483D8B;
}
